<div class="container mb-3">
    <nav class="navbar navbar-expand-lg navbar-dark bg-info mt-3 mb-5 rounded-pill">
        <span class="navbar-brand">{{'Categories' | translate}}:</span>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav" aria-controls="basicExampleNav"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="basicExampleNav">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
            <a (click)="changeCategory('all', products, country, allProducts)" class="nav-link">{{'All' | translate}}
            </a>
            </li>
            <li *ngFor="let category of categories" class="nav-item">
            <a (click)="changeCategory(category, products, country, allProducts)" class="nav-link">{{category | translate}}</a>
            </li>
        </ul>
        <form class="form-inline">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#filterModal">{{'Sort' | translate}}</button>
            <div class="md-form my-0">
            <input [(ngModel)]="searchWord" name="searchWord" (input)="searchThis(category, products, country, allProducts)" class="form-control mr-sm-2" type="text" placeholder="{{'Search' | translate}}" aria-label="Search">
            </div>
        </form>
        </div>
    </nav>
    <section *ngIf="products.length>0" class="text-center mb-4">
        <div class="row">
            <div *ngFor="let product of products" class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12 mb-4">
                <div  class="card shadow">
                <div>
                    <img [src]="product.photo" class="card-img-top responsive-img" alt="">
                    <a>
                    <div class="mask rgba-white-slight"></div>
                    </a>
                </div>
                <div *ngIf="product.availability" class="card-body text-center">
                    <a class="grey-text">
                    <h5>{{product.name | translate}}</h5>
                    </a>
                    <h5>
                    <strong>
                        <a class="dark-grey-text">{{product.category | translate}}
                        </a>
                    </strong>
                    </h5>

                    <h4 class="font-weight-bold blue-text">
                    <strong>{{product.price | currency}}</strong>
                    </h4>
                </div>
                <div *ngIf="!product.availability" class="card-body text-center">
                    <h5 class="mt-4 pt-2 pb-2 text-white bg-danger rounded-pill">{{'unavailable' | translate}}</h5>
                </div>
                </div>
            </div> 
        </div> 
    </section>
</div>


<div class="modal fade" data-backdrop="static" id="filterModal" data-target="#countryModal" tabindex="-1" aria-labelledby="filter" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="filter">{{'SortBy' | translate}}</h5>
        </div>
        <div class="row modal-body">
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12 mb-3">
                <form [formGroup]="form">
                    <div class="form-check mb-2">
                        <input class="form-check-input" type="radio" name="sort" id="exampleRadios1" value="Lowest Price" formControlName="sort" checked>
                        <label class="form-check-label" for="exampleRadios1">
                        {{'LowestPrice' | translate}}
                        </label>
                    </div>
                    <div class="form-check mb-2">
                        <input class="form-check-input" type="radio" name="sort" id="exampleRadios2" value="Highest Price" formControlName="sort">
                        <label class="form-check-label" for="exampleRadios2">
                            {{'HighestPrice' | translate}}
                        </label>
                    </div>
                    <div class="form-check mb-2">
                        <input class="form-check-input" type="radio" name="sort" id="exampleRadios3" value="Best Selling" formControlName="sort">
                        <label class="form-check-label" for="exampleRadios3">
                            {{'BestSelling' | translate}}
                        </label>
                    </div>
                </form>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12 mb-3 mt-3">
                <div class="btn-group-toggle" data-toggle="buttons">
                    <label class="btn btn-secondary active">
                      <input class="checkbox" (click)="changeAvailable(products, country, allProducts)" type="checkbox" autocomplete="off"> {{showAvailability() | translate}}
                    </label>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button (click)="accept(products, form.value.sort)" type="button" class="btn btn-secondary" data-dismiss="modal">{{'Accept' | translate}}</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" data-backdrop="static" id="modalMensaje" data-target="#modalMensaje" tabindex="-1" aria-labelledby="filter" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modalMensajeTitle">{{'SortBy' | translate}}</h5>
        </div>
        <div class="row modal-body">
            
        </div>
        <div class="modal-footer">
            <button (click)="accept(products, form.value.sort)" type="button" class="btn btn-secondary" data-dismiss="modalMensaje">{{'Accept' | translate}}</button>
        </div>
      </div>
    </div>
  </div>
     